<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>

    <h1>Создать товар</h1>
    <form action="/admin/create_product/" method="post">
        <label for="name">Наименование:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">Описание:</label><br>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="price">Цена:</label><br>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="store_id">Филиал:</label><br>
        <select id="store_id" name="store_id" required>
            {% for store in stores %}
                <option value="{{ store.id }}">{{ store.city }} ({{ store.address }})</option>
            {% endfor %}
        </select><br><br>

        <label for="category_id">Категория:</label><br>
        <select id="category_id" name="category_id" required>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Создать">
    </form>

    {% if created_product %}
    <h2>Созданный товар:</h2>
    <p><strong>Наименование:</strong> {{ created_product["name"] }}</p>
    <p><strong>Описание:</strong> {{ created_product["description"] }}</p>
    <p><strong>Цена:</strong> {{ created_product["price"] }}</p>

    {% if created_product.store %}
        <p><strong>Филиал:</strong> {{ created_product.store.city }} ({{ created_product.store.address }})</p>
    {% else %}
        <p>Филиал не указан.</p>
    {% endif %}

    {% if created_product.category %}
        <p><strong>Категория:</strong> {{ created_product.category.name }}</p>
    {% else %}
        <p>Категория не указана.</p>
    {% endif %}

    {% else %}
    <p>Нет данных о созданном товаре.</p>
    {% endif %}
</body>
</html>